{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'AISite/report.css' %}">
    <style>
    
    </style>
</head>
<body>
    <h1 id="hed">Feedback Submission</h1>
    <div class="main">
        <textarea name="feedback" class="text" cols="40" rows="10">write your Feedback!</textarea>
        <button>submit</button>
    </div>
    <h1 id="hed2">Prompt</h1>
    <div class="main">
        <textarea name="feedback" class="text" cols="40" rows="10">write your text!</textarea>
        <button>submit</button>
    </div>
</body>
</html>