{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'AISite/signup.css' %}">
    <style>
        
    </style>
</head>

<body>
    <div class="main">
        <h1 id="reg">signup</h1>
        <form action="{% url 'SignUp_Details' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="first_name" placeholder="Enter your First Name">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" placeholder="Enter your Last Name">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Enter your Email">
            </div>
            <label>{{email_err}}</label>
            <div class="form-group">
                <input type="password" name="password" placeholder="Enter your Password">
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" placeholder="Enter Confirm Password">
            </div>
            <label>{{pass_err}}</label>
            <div class="form-group">
                <h4 id="head">date of birth</h4>
                <input type="date" name="" id="">
            </div>
            <div class="form-group" >
                <h4 id="head">gender</h4>
                <input type="radio" id="" name="gender">
                  <label for="">Male</label>
                  <input type="radio" id="" name="" value="male">
                  <label for="">Female</label>
                  <input type="radio" id="" name="" value="female">
                  <label for="">other</label>

            </div>
            <button type="submit">Submit</button>
            </form>
    </div>
</body>

</html>